
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>批量添加门牌号</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__JS__/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="__JS__/layui/css/layui.css"rel="stylesheet">
    <style>
        .layui-form-switch{
            box-sizing: unset;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>批量添加门牌号</h5>
                    <div class="ibox-tools">
                        <a href="{:url('flatno/index')}" class="btn btn-primary btn-xs">返回</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="layui-form form-horizontal m-t" method="post" action="{:url('flatno/flatnoaddbatch')}">
                        <div class="form-group layui-form-item">
                            <label class="col-sm-3 control-label">所属小区：</label>
                            <div class="col-sm-7">
                                <select id="community_id" name="community_id" lay-search lay-filter="community_id">
                                    <option value="">-- 请选择小区 --</option>
                                    {volist name="$communitys" id="vo"}
                                    <option value="{$vo->id}">{$vo->cname}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group layui-form-item">
                            <label class="col-sm-3 control-label">所属单元楼：</label>
                            <div class="col-sm-7">
                                <select id="building_id" name="building_id" lay-search>
                                    <option value="">-- 请选择单元楼 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group layui-form-item">
                            <label class="col-sm-3 control-label">单元号：</label>
                            <div class="col-sm-7">
                                <input id="flatno_pre" value="1" type="text" class="form-control" name="flatno_pre" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group layui-form-item">
                            <label class="col-sm-3 control-label">楼层范围：</label>
                            <div class="col-sm-2">
                                <input id="flatno_min" value="1" type="number" class="form-control" name="flatno_min" required="" aria-required="true" placeholder="最低层">
                            </div>
                            <div class="col-sm-2">
                                <input id="flatno_max" value="" type="number" class="form-control" name="flatno_max" required="" aria-required="true" placeholder="最高层">
                            </div>
                        </div>
                        <div class="form-group layui-form-item">
                            <label class="col-sm-3 control-label">每层户数：</label>
                            <div class="col-sm-7">
                                <input id="flatno_home" value="1" type="number" class="form-control" name="flatno_home" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group layui-form-item">
                            <div class="col-sm-7">
                            </div>
                            <div class="col-sm-3">
                                <button style="float:right;margin-left:20px;" class="layui-btn" lay-submit="" lay-filter="ADDC">立即提交</button>
                                <button style="float:right;" type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/layui/layui.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/plugins/ueditor/ueditor.config.js"></script>
<script src="__JS__/plugins/ueditor/ueditor.all.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        //表单
        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(ADDC)', function (data) {
                $.post('',data.field,function (res) {
                    if(res.code=='1'){
                        layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                            window.location.href = res.data;
                        });
                    }else{
                        layer.msg(res.msg, {anim: 6});
                    }
                })
                return false;
            });

            form.on('select(community_id)', function(data){
                $.get('{:url("flatno/getBuildings")}',{'community_id':data.value},function(retval){
                    if(retval.code == 1){
                        $("#building_id").find('option').remove();
                        $("#building_id").append("<option>-- 请选择单元楼 --</option>");
                        retval.data.map(function(val,index){
                            $("#building_id").append($("<option value='"+val.id+"'>"+val.bname+"</option>"));
                        });
                        form.render('select');
                    }
                });
            });
        });


    });
</script>
</body>
</html>
